.textInput {
  font-family: PingFang-SC-Medium;
  font-size: 17px;
}

.hr {
  opacity: 0.3
}
.user_brief {
  font-size: 12px;
}

.template {
  background-color: white;
  /* border: 1px solid #cec8c8; */
  padding-top: 1vh;
  padding-bottom: 2vh;
}



/* header */
.header {
  background-color: #46ADFB;
  box-shadow: 0 10px 17px 0 rgba(23,148,255,0.50);
  width: 100%;
  height: 14.3vh;
  position: relative;
  text-align: center;
  color: white;
}

.hotelIcons {
  position: absolute;
  top: 4.5vh;
  left: 2vw;
}
.hotelIcons img {
  width: 60%;
}
.connectlines {
  position: absolute;
  top: 6vh;
  left: 20vw;
  text-align: left;
}
.connectlines img {
  width: 80%;
}
.hotelDetails {
  position: absolute;
  top: 2vh;
  width: 50vw;
  left: 40vw;
}
.date {
  position: absolute;
  left: 0;
  top: 0.5vh;

  font-family: PingFang-SC-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2.91px;
}
.starlevel {
  position: absolute;
  top: 0.5vh;
  right: 0;

  font-family: PingFang-SC-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2.91px;
}
.countryEn {
  position: absolute;
  left: 0;
  top: 7vh;

  font-family: PingFang-SC-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2.91px;
}
.hotelEn {
  position: absolute;
  right: 0;
  top: 7vh;

  font-family: PingFang-SC-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2.91px;
}
.title {
  position: absolute;
  top: 3.8vh;
  left: 0;

  font-family: PingFang-SC-Semibold;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 2.32px;
}

/* image */
.templateImg {
  width: 100%;
}


/* footer */
.footer {
  width: 100%;
  height: 6.5vh;
  position: relative;
}
.ecode {
  position: absolute;
  left: 80vw;
  top: 0;
  width: 11vw;
}
.ecode img {
  width: 100%;
}
.logoText {
  position: absolute;
  left: 38vw;
  top: 1vw;
  width: 40vw;
  text-align: right;
  font-size: 14px;
  font-family: PingFang-SC-Medium;
  color: #767676;
}
.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 28vw;
}
.logo img{
  width: 100%;
}
